.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 90vh;
  padding: 30px;
}
.content-container{
  width: 50vh;
}
.mainHeading {
  color: #ffffff;
  font-weight: bold;
  font-family: 'Roboto';
  font-size: 30px;
}
.home-description {
  color: #f8fafc;
  font-family: 'Roboto';
  font-size: 10px;
}
